.index {
  position: relative;
}

.index__bg {
  padding: 140px 0 0;
}

.index__logo {
  width: 10rem;
  margin: 0 auto 42px;
}

.index__thumbnail {
  width: 100%;
  height: vw(600);

  & img {
    height: 100%;
    object-fit: cover;
  }
}

.index__anchor__list {
  margin: 62px 0 0;
  font-size: vw(18);
}

.index__anchor__item:not(:first-of-type) {
  margin: 10px 0 0;
}

.index__column {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
}

.index__column--reverse {
  flex-direction: row-reverse;
}

.index__column__img {
  flex-shrink: 0;
  width: 22rem;
  height: vw(320);

  & img {
    height: 100%;
    object-fit: cover;
  }
}

.index__column__text {
  font-size: vw(17);
  line-height: 1.5;
  letter-spacing: 0.2em;
}
